zdj-jpg{
    grid-column: 1/span 2;
    grid-row: 1;
    background-color: white;
    height: 25%;
    text-align: center;
}




.klocek{
    background-color: red;
    text-align: center;
    
}
    



    










    
